<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    formulario prueb
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="modal-dialog2">

        <h4>Lorem ipsum dolor sit.</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, cum impedit. Voluptatibus labore rerum aut.</p>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="* Tu nombre" >
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="name@example.com" >
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Telefono de contacto</label>
            <input type="tel" class="form-control form-control-lg" id="exampleFormControlInput1"  placeholder="+51 999 999 999" >
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Sugerencias</label>
            <textarea class="form-control form-control-lg" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Enviar datos</button>
        </div>
        <!-- <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    form Lorem, ipsum.
                </h5>
                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>                
            </div>
            <div class="modal-body">
                <h4>Lorem ipsum dolor sit.</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, cum impedit. Voluptatibus labore rerum aut.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Enviar datos</button>
            </div>
        </div> -->
    </div>
</div>