<section>
    <!-- SOCAIL CONEXION WHATSAPP -->
    <div class="wsp">
        <a class="appWhatsapp" target="_blank" href="https://api.whatsapp.com/send?phone=51953772123&text=Hola El Tecnológico, deseo información sobre el curso...">
            <img src="./views/assets/icons/social/whatsapp.png" alt="Whatsapp ITEC" width="60px">
            <!-- <img src="public/img/iconos/whatsapp.png" alt="Whatsapp"> -->
        </a>
    </div>
    <!-- SOCAIL CONEXION FACEBOOK -->
    <div class="fb">
        

        <!-- Messenger plugin de chat Code -->
        <div id="fb-root"></div>
        <!-- Your plugin de chat code -->
        <div id="fb-customer-chat" class="fb-customerchat">
        </div>
        <script>
            var chatbox = document.getElementById('fb-customer-chat');
            chatbox.setAttribute("page_id", "100671591805252");
            chatbox.setAttribute("attribution", "biz_inbox");
            window.fbAsyncInit = function() {
                FB.init({
                xfbml            : true,
                version          : 'v11.0'
                });
            };

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/es_ES/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>






    </div>
</section>
