:root{
    --color-calido-1: #FB8500;
    --color-calido-2: #FFB703;
    --color-centro: #023047;
    --color-frio-1: #8ECAE6;
    --color-frio-2: #219EBC;

    --color-m-w: blanchedalmond;
    
    --color-nav-calido-complemento: #023047c9;
}

*{
    margin: 0px;
    padding: 0px;
}

/* color para el titulo de ITEC en el NAV */
.k-logo{
    color: var(--color-m-w) !important;
}

.k-btn-classroom{
    background-color: var(--color-calido-1);
    color:var(--color-centro) !important;

    border-radius: 5px;
}

.k-nav {
    background-color: var(--color-frio-2) !important;
    /* padding: 30px 10px 20px 100px; */
    padding-top: 30px;
    padding-bottom: 20px;
    position: sticky;
    top: 0px;
}

.k-link {
    text-decoration: none;
    font-size: .9rem;
    /* color: var(--color-m-w) !important; */

    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: 'Alegreya', serif; */
    font-family: 'Pangolin', cursive;
    letter-spacing: 2px;
}

.k-link:hover{
    color: var(--color-m-w) !important;
}

.k-cinta {
    /* height: 10rem; */
    background-color: #FFB703;
}

.k-cuerpo {
    height: auto;
    background-color: #8ECAE6;
}

/* ++++++ ++++ +++++ */
.k-presentacion {
    height: 80vh;
    background-color: var(--color-m-w);
}

/* cuerpo 1 */
.k-titulo-c1{
    height: 5rem;
}

/* ++++++++++++++++++++++ */
.k-slider {
    height: 80vh;
    background-color: var(--color-frio-1);
}

.k-slider{
    display: inline-table;
    width: 100%;
}

.k-slider .k-text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    /* padding: 0px 300px; */
    word-spacing: 7px;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-family: monospace;
}

