*{
    margin: 0px;
    padding: 0px;
}

.nav {
    /* background-color: #023047; */
    background-color: #023047c9;
    padding: 30px 10px 20px 100px;
    position: sticky;
    top: 0px;
}

.nav > ul > li {
    display: inline;
    list-style: none;
}

.nav > ul > li a {
    /* background-color: #8ECAE6; */
    color:#FB8500;
    padding: 10px;
}

.link {
    list-style: none;
    text-decoration: none;
    font-size: .9rem;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: 'Alegreya', serif; */
    font-family: 'Pangolin', cursive;
    letter-spacing: 4px;
}

.slider {
    height: 80vh;
    background-color: #219EBC;
}

.cinta {
    height: 10rem;
    background-color: #FFB703;
}

.cuerpo {
    height: 4rem;
    background-color: #8ECAE6;
}


/* ++++++++++++++++++++++ */

.slider{
    display: inline-table;
    width: 100%;
    /* height: 300px;
    width: 200px; */
}
.slider .text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    padding: 0px 300px;
    word-spacing: 7px;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-family: monospace;
}