:root{
    --color-calido-1: #FB8500;
    --color-calido-2: #FFB703;
    --color-centro: #023047;
    --color-frio-1: #8ECAE6;
    --color-frio-2: #219EBC;

    --color-m-w: blanchedalmond;
    
    --color-nav-calido-complemento: #023047c9;
}

/* Formateando el margin y el padding en toda la página  */
*{
    margin: 0px;
    padding: 0px;
}

/* color para el titulo de ITEC en el NAV */
.k-logo{
    color: var(--color-m-w) !important;
}

.k-logo #logo_img {
    position: absolute;
    padding: 0px 0px 17px 0px;
    bottom: 0px;
    width: auto;
    height: 80%;

    /* -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s; */
    transition: all .7s;
}

/* btn para el AULA VIRTUAL */
.k-btn-classroom{
    background-color: var(--color-calido-1);
    color:var(--color-centro) !important;

    border-radius: 5px;
}
.k-btn-classroom:hover{
    background-color: var(--color-centro);
}

/* Estilos navegación */
.k-nav {
    background-color: var(--color-frio-2) !important;
    padding-top: 30px;
    padding-bottom: 20px;
    position: sticky;
    top: 0px;
    z-index: 99999!important;
}

/* Estilos para las opciones de la NAVEGACIÓN */
.k-link {
    text-decoration: none;
    font-size: .9rem;
    /* color: var(--color-m-w) !important; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: 'Alegreya', serif; */
    font-family: 'Pangolin', cursive;
    letter-spacing: 1.5px;
}

.k-link:hover{
    color: var(--color-m-w) !important;
}

/* Sub menu nav */
.k-submenu{
    background-color: var(--color-calido-2);
    position: absolute;
    width: 98.7vw !important;    
    z-index: 99999!important;
    transition: all linear .4s;

    /* transform: translateX(-45vw); */
    /* left: -270% !important; */
    /* left: 0px !important; */
}

/* Sección PRESENTACIÓN, Primera opción */
.k-presentacion {
    /* height: 80vh; */
    background-color: var(--color-m-w);
}

.k-grid{
    display: grid;
}
.k-content-left{
    align-content: center;
    height: 80vh;
}
.k-content-right{
    justify-content: center;
    /* align-content: center; */
    height: 80vh;
}
.k-title-presentacion{
    letter-spacing: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

    color: var(--color-centro);
}
.k-parrafo-presentacion{
    letter-spacing: 1.5px;
}
.k-btn-unete{
    background-color: var(--color-centro) !important;
    border: 1.5px solid var(--color-frio-2) !important;
}
.k-btn-unete:hover{
    background-color: var(--color-calido-1) !important;
    border: 1.5px solid var(--color-calido-2) !important;
    color: var(--color-centro);
}

.k-social{
    padding: 10px 0px;
}
.k-social span {
    margin-right: 16px;
}
.k-social span a{
    text-decoration: none;
}

.k-prueba{
    background-color: transparent;
}



/* SECCION CINTA */
.k-cinta {
    background-color: #FFB703;
}

/* SECCIÓN CUERPO 1*/

/* alto para el titulo del cuerpo 1 */
.k-titulo-pc1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.k-titulo-c1{
    height: 5rem; 
}



/* ++++++++++++++++++++++ */
.k-slider {
    height: 40vh;
    background-color: var(--color-frio-1);
}

.k-slider{
    display: inline-table;
    width: 100%;
}

.k-slider .k-text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    /* padding: 0px 300px; */
    word-spacing: 7px;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-family: monospace;
}
/* ++++++++++++++++++++++++++ */



/* SECCION FOOTER */
.k-footer_nav div ul{
    margin: 0px;
    padding: 0px;
}
.k-footer_nav div ul li{
    list-style: none;
    font-size: 1rem;
}
.k-footer_nav div ul li a{
    text-decoration: none;
    color:aliceblue;
}

.k-footer_map iframe{
    border: 0px solid blanchedalmond;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.k-footer_copy{
    font-size: .7rem;
}

/* CONFIGURACION PAGINA RESPONSIVE ENTRE */
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    
    /* Para controlar el Tamaño de fuente de la navegación de la página  */
    /* .k-link {
        font-size: .8rem;
    } */

    .k-slider {
        background-color: black;
    }

    
}

@media (max-width: 600px){
    
    /* CONTROLAR EL ALTO DE LA UBICACIÓN EN GOOGLE MAPS  */
    .k-footer_map{
        margin-top: 1.5rem;
    }
    .k-footer_map iframe{
        height: 60vh;
    }

    /* LOGO ITEC */
    .k-logo #logo_img {
        position: static;
        width: 100px;
    }

}