.wsp {
  position: fixed;
  display: block;
  background-color: transparent;
  border: 1px solid transparent;
  color: blanchedalmond;
  right: 22px;
  bottom: 100px;
}

.fb {
  position: fixed;
  display: block;
  background-color: red;
  border: 1px solid transparent;
  color: blanchedalmond;
  right: 10px;
  bottom: 50px;
  z-index: 10010;
}

.loader-k {
  position: fixed;
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
.loader-k .content-k {
  text-align: center;
  color: white;
}
.loader-k .content-k .loader {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 14px solid;
  color: rgba(255, 255, 255, 0.076);
  border-top-color: red;
  border-top-style: groove;
  border-radius: 100%;
  animation: girar 2s linear infinite;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader-ready {
  animation: present 1s linear;
  animation-fill-mode: forwards;
  animation-direction: alternate-reverse;
}
@keyframes present {
  to {
    clip-path: circle(150% at 100% 100%);
    opacity: 1;
  }
  from {
    clip-path: circle(0% at 100% 100%);
    opacity: 0;
    display: none;
  }
}

.k-acercaDe {
  background-color: #0a080510;
  min-height: 80vh;
  padding-top: 30px;
}
.k-acercaDe .k-titulo {
  letter-spacing: 2px;
  font-weight: bold;
}
.k-acercaDe .k-titulo .title_itec, .k-acercaDe .k-titulo span {
  color: #0377FF;
  font-size: 1.7rem;
}
.k-acercaDe .row {
  position: relative;
  background-color: rgba(95, 158, 160, 0.193);
  min-height: 70vh;
  width: auto;
  overflow: hidden;
  border: none;
  border-radius: 14px 14px 0px 0px;
}
.k-acercaDe .k-acerca_info {
  background-color: white;
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100%;
}

.k-cifras .k-cifras_title {
  letter-spacing: 2px;
  font-weight: bold;
}
.k-cifras .k-cifras_title .title_itec, .k-cifras .k-cifras_title span {
  color: #0377FF;
  font-size: 1.7rem;
}
.k-cifras .k-cifras_item {
  background: #3494E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, transparent, #8ECAE6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, transparent, #8ECAE6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #023047c9;
  height: 40vh;
  display: grid;
  justify-content: center;
  align-content: center;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.3rem;
}
.k-cifras .k-cifras_item .cifra-num {
  font-size: 3rem;
}

.k-porqueEstudiar .k-pe_title {
  letter-spacing: 2px;
  font-weight: bold;
}
.k-porqueEstudiar .k-pe_title .title_itec, .k-porqueEstudiar .k-pe_title span {
  color: #0377FF;
  font-size: 1.7rem;
}
.k-porqueEstudiar .k-p_lista {
  background-color: #013C80;
  padding-left: 7%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.k-porqueEstudiar .k-p_lista ul li {
  margin-bottom: 5px;
  padding-left: 8px;
  list-style: none;
  background-color: white;
}

.k-metodologia .k-m_title {
  letter-spacing: 2px;
  font-weight: bold;
}
.k-metodologia .k-m_title .title_itec, .k-metodologia .k-m_title span {
  color: #0377FF;
  font-size: 1.7rem;
}
.k-metodologia .row div .k-card {
  border: 1.5px solid rgba(0, 0, 0, 0.371);
  background-color: transparent;
  margin: 2px;
  padding: 5px 10px;
}
.k-metodologia .row div .k-card .k-card_title {
  font-size: 1.2rem;
  background-color: #013C80;
  color: white;
  height: 50px;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-content: center;
}
.k-metodologia .row div .k-card p {
  height: 180px;
  overflow-y: hidden;
}
@media (max-width: 600px) {
  .k-metodologia .row div .k-card p {
    height: auto;
  }
}

.k-academicos {
  background-color: #f4f3e9;
}
.k-academicos .k-title_s {
  letter-spacing: 2px;
  font-weight: bold;
}
.k-academicos .k-title_s .title_itec, .k-academicos .k-title_s span {
  color: #0377FF;
  font-size: 1.7rem;
}
.k-academicos .k-autoridades {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}
.k-academicos .k-autoridades div {
  margin: 3px;
}
.k-academicos .k-autoridades div img {
  border: 3px solid #011E40;
  padding: 5px 3px;
  border-radius: 10%;
  box-shadow: 3px 3px #0377FF, -1em 0 0.4em #011E40;
}
.k-academicos .k-autoridades div span {
  font-weight: bold;
}
.k-academicos .k-instructores .k-title_s {
  letter-spacing: 2px;
  font-weight: bold;
}
.k-academicos .k-instructores .k-title_s .title_itec, .k-academicos .k-instructores .k-title_s span {
  color: #0377FF;
  font-size: 1.7rem;
}
.k-academicos .k-instructores .row div {
  padding: 15px 5px;
  font-size: 1.3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.k-academicos .k-instructores .row div span {
  font-weight: bold;
}
.k-academicos .k-coordinadores .k-title_s {
  letter-spacing: 2px;
  font-weight: bold;
}
.k-academicos .k-coordinadores .k-title_s .title_itec, .k-academicos .k-coordinadores .k-title_s span {
  color: #0377FF;
  font-size: 1.7rem;
}
.k-academicos .k-coordinadores .row div {
  padding: 15px 5px;
  font-size: 1.3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.k-academicos .k-coordinadores .row div span {
  font-weight: bold;
}

.k-seccionCertificado {
  background-color: #000;
  background-image: url("../assets/images/educacion2.png");
  background-position: center;
  padding-top: 50px;
  padding-bottom: 100px;
  min-height: 100vh;
}

.k-header_certi {
  display: grid;
  justify-content: center;
}

.titulo-certi {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-weight: bolder;
  text-align: center;
  display: inline;
  color: white;
  background-color: rgba(0, 110, 255, 0.118);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
}

.btn-buscar-certi {
  background-color: rgba(0, 0, 0, 0.631);
  color: #fff;
  padding: 15px 20px;
  margin: 10px 0px;
  border: 0.3px solid transparent;
  border-radius: 5px;
  transition: all linear 0.3s;
}

.btn-buscar-certi:hover {
  border: 0.3px solid #011E40;
  background-color: #011E40;
  color: white;
}

.tabled_div {
  overflow-x: scroll;
  background-color: #011E40;
}

.resultado {
  color: white;
}

.k-input-b {
  background-color: #011e4010;
  padding: 10px;
  padding-left: 20px;
  font-size: 1.1rem;
  text-align: center;
  border: none;
  border-bottom: 1px solid #90c4ff;
  border-top: 0.1px dashed #90c4ff;
  border-left: 0.1px dashed #90c4ff;
  border-right: 0.1px dashed #90c4ff;
  border-radius: 0px;
  color: white;
}

.k-input-b::placeholder {
  color: rgba(255, 235, 205, 0.555);
}

.k-session {
  height: 100vh;
  background-color: darkmagenta;
}
.k-session .k-card {
  width: 380px;
  background-color: cadetblue;
  padding: 10px 30px;
  margin-top: 5%;
  border: none;
  border-radius: 5px;
}
.k-session .k-card input {
  display: inline-block;
  width: 100%;
  padding: 5px 8px;
  margin: 3px 0px;
  font-size: 0.9rem;
  height: 40px;
  border: none;
  border-radius: 3px;
}
@media (max-width: 600px) {
  .k-session .k-card {
    width: 90%;
    margin-top: 30%;
  }
}
.k-session .k-card button {
  background-color: cadetblue;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 30px;
  margin: auto;
}
.k-session .k-card button:hover {
  background-color: chocolate;
}

.k-centrar {
  display: flex;
  justify-content: center;
}

.titulo-itec {
  letter-spacing: 2px;
  font-weight: bolder;
  color: #0377FF;
}

/*# sourceMappingURL=styles.css.map */
