
.k-seccionCertificado{
    background-color: $color-m-w;
    padding-top: 50px;
    min-height: 80vh;
}

.k-header_certi{
    display: grid;
    justify-content: center;
}

.titulo-certi{
    color: brown;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
    text-align: center;

    display: inline;
    background-color: yellow;

}

.btn-buscar-certi{
    background-color: #000;
    color: #fff;
    padding: 15px 20px;
    margin: 10px 0px;
    border: none;
    border-radius: 14px;

}



