
.k-seccionCertificado{
    background-color: #000;
    background-image: url("../assets/images/educacion2.png");
    background-position: center;
    padding-top: 50px;
    padding-bottom: 100px;
    min-height: 100vh;
}

.k-header_certi{
    display: grid;
    justify-content: center;
}

.titulo-certi{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
    text-align: center;
    
    display: inline;
    color: white;
    background-color: rgba(0, 110, 255, 0.118);
    padding:15px 30px;

    border: none;
    border-radius: 5px;
    
}

.btn-buscar-certi{
    background-color: rgba(0, 0, 0, 0.631);
    color: #fff;
    padding: 15px 20px;
    margin: 10px 0px;
    border: .3px solid transparent;
    border-radius: 5px;
    transition: all linear .3s;
}
.btn-buscar-certi:hover{
    border: .3px solid $color-frio-1;
    background-color: $color-frio-1;
    color: white;
    
}

.resultado{
    color: white;
}

.k-input-b{
    background-color: #011e4010;
    padding: 10px;
    padding-left: 20px;
    font-size: 1.1rem;
    text-align: center;
    border: none;
    border-bottom: 1px solid #90c4ff;
    color: white;
    border-radius: 0px;
}