
// Pruebas
// comrobar que no se estén usando!
$color: blue;

// VARIABLES COLORES
$color-calido-1: #025ABF;
$color-calido-2: #013C80;
$color-centro: #0377FF;
$color-frio-1: #011E40;
$color-frio-2: #1C86FF;

$color-m-w: blanchedalmond;

$color-nav-calido-complemento: #023047c9;

$color-amarisho: #FFB703;
$color-bg-video: #8ECAE6;
