@mixin title {
    letter-spacing: 2px;
    font-weight: bold;
    .title_itec, span{
        // color: cadetblue;
        color: $color-centro;
        font-size: 1.7rem;
    }
}


// Seccion acerca de 
.k-acercaDe{
    background-color: #0a080510;
    min-height: 80vh;
    padding-top: 30px;

    .k-titulo{
        @include title();
    }
    .row{
        position: relative;
        background-color: rgba(95, 158, 160, 0.193);
        min-height: 70vh;
        width: auto;
        overflow:hidden;
        border: none;
        border-radius: 14px 14px 0px 0px;
    }

    .k-acerca_info{
        background-color: white;
        display: grid;
        justify-content: center;
        align-content: center;
        min-height: 100%;
    }

}


//seccion CIFRAS
.k-cifras{
    .k-cifras_title{
        @include title();
    }
    .k-cifras_item{
        // background-color: $color-centro;
        background: #3494E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #EC6EAD, $color-frio-2);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #EC6EAD, $color-frio-2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        


        height: 40vh;
        display: grid;
        justify-content: center;
        align-content: center;
        // border: 1px solid khaki;
        border: none;
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);

        color: $color-m-w;
        font-weight: bold;
        // font-size: 1.3rem;
    }
}


// sección PORQUE ESTUDIAR EN EL ITEC
.k-porqueEstudiar{
    .k-pe_title{
        @include title();
    }
    .k-p_lista{        
        // background-color: $color-frio-2; //cadetblue
        background-color: $color-calido-2;
        padding-left: 7%;
        padding-top: 5px;
        padding-bottom: 5px;
        ul{
            // margin: 0px;
            // padding: 0px;
            li{
                margin-bottom: 5px;
                padding-left: 8px;
                list-style: none;
                background-color: white;
            }
        }
    }
}


// sección metodología
.k-metodologia{
    .k-m_title{
        @include title();
    }

    .row  div .k-card{
        border: 1.5px solid rgba(0, 0, 0, 0.371);
        background-color: transparent;
        margin: 2px;
        padding: 5px 10px;
        .k-card_title{
            font-size: 1.2rem;
            background-color: $color-calido-2;
            color: white;
            height: 50px;
            overflow:hidden;

            display: grid;
            justify-content: center;
            align-content: center;
        }

        p{
            height: 180px;
            overflow-y: hidden;
            @media (max-width: 600px){
                height: auto;
                // background-color: seagreen;
                // p{
                // }
            }
        }
    }
}


//SECCIÓN Autoridades Académicas

.k-academicos{

    background-color: #f4f3e9;

    .k-title_s{
        @include title();
    }
    // Autoridades
    .k-autoridades{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        
        div{
            // card person
            margin: 3px;
            // background-color: violet;
            span{
                // name person
                font-weight: bold;
            }
        }
    }

    // Instructores
    .k-instructores{
        .k-title_s{
            @include title();
        }

        .row div {
            padding: 15px 5px;
            font-size: 1.3rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            span{
                font-weight: bold;
            }
        }
    }

    // Coordinadores
    .k-coordinadores {
        .k-title_s{
            @include title();
        }

        .row div{
            padding: 15px 5px;
            font-size: 1.3rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            span{
                font-weight: bold;
            }
        }
    }

}