@mixin social ($bg:transparent) {
    position: fixed;
    display: block;
    background-color: $bg;
    border: 1px solid transparent;
    color: blanchedalmond;
}

.wsp {
    @include social();
    right: 22px;
    bottom: 100px;
    // width: 100px;
    // height: 100px;
}

.fb {
    @include social(red);
    right: 10px;
    bottom: 50px;
    z-index: 10010;
}
