<nav class="k-nav navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand k-logo" href="#">
            <!-- ITEC -->
            <img src="./views/assets/logo.png" alt="" width="80px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link k-link active" aria-current="page" href="?pg=inicio">INICIO <i class="fas fa-home"></i> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link k-link " href="?pg=cursos">CURSOS <i class="fas fa-mouse"></i> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link k-link" href="#">EQUIPO <i class="fas fa-users-cog"></i> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link k-link" href="#">COTACTANOS <i class="fas fa-address-card"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link k-link disabled" href="#" tabindex="-1" aria-disabled="true">CERTIFICADOS <i class="fas fa-certificate"></i> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link k-link" href="#">QUIENES SOMOS <i class="far fa-address-card"></i> </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link k-link k-btn-classroom" href="#">AULA VIRTUAL <i class="fas fa-layer-group"></i> </a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>