<nav class="navbar navbar-expand-lg navbar-light bg-light   k-nav ">
    <div class="container">
        <a class="navbar-brand k-logo" href="#">
            <!-- ITEC -->
            <img src="./views/assets/itec/logo1.png" alt="" width="80px" id="logo_img">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" 
                    onclick="window.scrollTo(0,0);"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link k-link active text-center" aria-current="page" href="?pg=web"> 
                        <!-- <i class="fas fa-home"></i> <br>  -->
                        <img src="./views/assets/itec/icons/inicio.png" width="40px" alt=""> <br>
                        INICIO 
                    </a>
                    <span class="span-option"></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link k-link text-center" href="?pg=sobrenosotros">
                        <!-- <i class="fas fa-users-cog"></i> <br> -->
                        <img src="./views/assets/itec/icons/nosotros.png" width="40px" alt=""> <br>
                        NOSOTROS
                    </a>
                    <span class="span-option"></span>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-center   k-link k-link-submenu" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- <i class="fas fa-layer-group"></i> <br> -->
                        <img src="./views/assets/itec/icons/educacion_ejecutiva.png" width="40px" alt=""> <br>
                        EDUCACIÓN EJECUTIVA
                    </a>
                    <span class="span-option"></span>

                    <div class="dropdown-menu k-submenu" aria-labelledby="navbarDropdown">
                        <div class="container">
                            <div class="row py-1">

                                <div class="col-md-9">
                                    <h3 class="text-center pb-3">CURSOS GRATUITOS</h3>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5>TIC APLICADA A LA EDUCACIÓN VIRTUAL</h5>
                                            <ul>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>OFIMÁTICA</h5>
                                            <ul>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>IDIOMAS</h5>
                                        </div>

                                        <div class="col-md-4">
                                            <h5>GESTIÓN PÚBLICA</h5>
                                            <ul>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>DISENO GRÁFICO Y EDICIÓN DE VIDEOS</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <h3 class="text-center pb-3">DIPLOMADOS</h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                                <li><a href="">OPT 1</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="col-md-3">
                                    <h4>TIC APLICADAS A LA EDUCACIÓN VIRTUAL</h4>
                                    <ul>
                                        <li><a href="#">TIC BÁSICO</a></li>
                                        <li><a href="#">TIC NIVEL INTERMEDIO</a></li>
                                        <li><a href="#">TIC AVANZADO</a></li>
                                        <li><a href="#">GAMIFICACIÓN</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h4>OFIMÁTICA</h4>
                                    <ul>
                                        <li><a href="#">GENIALLY</a></li>
                                        <li><a href="#">WORD BÁSICO</a></li>
                                        <li><a href="#">WORD BÁSICO</a></li>
                                        <li><a href="#">WORD BÁSICO</a></li>
                                        <li><a href="#">EXCEL BÁSICO</a></li>
                                        <li><a href="#">EXCEL BÁSICO</a></li>
                                        <li><a href="#">EXCEL BÁSICO</a></li>
                                        <li><a href="#">EXCEL BÁSICO</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h4>IDIOMAS</h4>
                                    <ul>
                                        <li><a href="#">INGLÉS BÁSICO</a></li>
                                        <li><a href="#">INGLES INTERMEDIO</a></li>
                                        <li><a href="#">INGLES INTERMEDIO</a></li>
                                        <li><a href="#">INGLES INTERMEDIO</a></li>
                                        <li><a href="#">QUECHUA BÁSICO</a></li>
                                        <li><a href="#">QUECHUA BÁSICO</a></li>
                                        <li><a href="#">QUECHUA BÁSICO</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    Lorem ipsum dolor sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, at.
                                    <h4>DIPLOMADOS</h4>
                                    <ul>
                                        <li><a href="#">OPTION 1</a></li>
                                        <li><a href="#">OPTION 2</a></li>
                                        <li><a href="www.google.com">OPTION 3</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi voluptatum quod facilis molestias fugiat.
                                    <h4>OTHERS</h4>
                                    <ul>
                                        <li><a href="#">OPTION 1</a></li>
                                        <li><a href="#">OPTION 2</a></li>
                                        <li><a href="www.google.com">OPTION 3</a></li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">opt prueba</a></li>
                        <li><a class="dropdown-item" href="#">op2</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">alguna cosa </a></li>
                    </ul> -->
                </li>

                <li class="nav-item">
                    <a class="nav-link k-link disabled text-center" href="?pg=certificado_digital" tabindex="-1" aria-disabled="true"> 
                        <!-- <i class="fas fa-certificate"></i> <br> -->
                        <img src="./views/assets/itec/icons/validar_certificado.png" width="40px" alt=""> <br>
                        VALIDAR CERTIFICADO  
                    </a>
                    <span class="span-option"></span>
                </li>

                <li class="nav-item">
                    <a class="nav-link k-link text-center" href="?pg=cursos"> 
                        <!-- <i class="fas fa-mouse"></i> <br>  -->
                        <img src="./views/assets/itec/icons/convenios.png" width="40px" alt=""> <br>
                        CONVENIOS 
                    </a>
                    <span class="span-option"></span>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link k-link text-center" href="?pg=registrate"> 
                        <i class="fas fa-address-card"></i> <br> 
                        REGISTRATE 
                    </a>
                </li> -->
                
                <!-- <li class="nav-item">
                    <a class="nav-link k-link text-center" href="#contact">
                        <i class="fas fa-tty"></i> <br>
                        COTÁCTANOS 
                    </a>
                </li> -->
                

                <li class="nav-item">
                    <a class="nav-link k-link k-btn-classroom text-center" href="https://www.eltecnologico.com.pe/aulavirtual/" target="_blank">
                        <!-- <i class="fas fa-layer-group" width="40px"></i> <br> -->
                        <img src="./views/assets/itec/icons/educacion_ejecutiva.png" width="40px" alt=""> <br>
                        CAMPUS VIRTUAL 
                    </a>
                </li>



                
                
                
            </ul>
        </div>
    </div>
</nav>